
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    /* margin: 0;
    padding: 0; */
    /* background-color: #e1ebf9; */
    font-family: 'Balsamiq Sans', cursive;
    box-sizing: border-box;
}

.container {
    text-align: center;
}

.c1 {
    text-align: center;
    margin-top: 55px;
    /* font-family: 'Andika', sans-serif; */

}

.c2 {
    
    /* border: 2px solid rgb(246, 230, 230); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 84px;
}

.phone {
    font-size-adjust: 0.8;
    font-weight: bold;
    padding-left: 10px;
    width: 340px;
    height: 40px;
}

.pass {
    margin-top: 10px;
    font-weight: bold;
    width: 340px;
    padding-left: 10px;
    height: 40px;
}

.submit {
    margin-top: 20px;
    width: 355px;
    height: 40px;
    border: none;
    font-weight: bolder;
    background-color: #1877f2;
    color: white;
}

.forgot {
    margin-top: 17px;
}

.c2 hr {
    width: 346px;
}

.but1 , .but2 {
    
    all: initial;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    width: 200px;
    height: 40px;
    margin-top: 25px;
    background-color: rgb(20, 192, 20);
    /* font-weight: bold; */
    color: white;
    border: none;
}

.but1{
    margin-right: 15px;
}

.name ,.email,.phone ,.errorf ,.invalid{
    margin-top: 10px;
    font-weight: bold;
    width: 340px;
    padding-left: 10px;
    height: 40px;
}
.invalid{
    color: red;
}

.welcome{
    margin-top: 25px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sym{
    margin-top: 20px;
}

.m1,.m2,.m3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    width: 240px;
    height: 180px;
    background-color: bisque;
    border-radius: 25px;
}

a:link{
    text-decoration: none;
    color: brown;
    font-family: 'Balsamiq Sans', cursive;
    font-size: x-large;
}

.userdata{
    display: flex;
    height: 80vh;
    width: 40vw;
    /* border: 2px solid black; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* margin-left: 390px; */
    margin-top: 30px;
    box-shadow: 10px 10px 45px rgb(136, 134, 134);
    border-radius: 10px;
}
.profile{
    height: 150px;
    width: 150px;
    /* border: 2px solid red; */
    /* position: relative; */
    /* top: 60px; */
    /* left: 20px; */   
    object-fit: cover;
    margin-bottom: 138px;
    /* padding-left: 40px; */
}

.data{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-left: 30px;
    gap: 20px;
    text-align: start;
    flex-wrap: wrap;

}


.d1, .d2 , .d3,.d4{
    width: 200px;
}

/* .pofrecent{
} */


  .borderbot{
    border-bottom: 1px solid black;
    margin-bottom: 15px;
    margin-top: 0px;
  }


  .ngodata{

    display: flex;
    /* height: 120vh; */
    /* width: 50vw; */
    /* border: 2px solid black; */
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    /* margin-left: 390px; */
    margin-top: 30px;
    box-shadow: 10px 10px 45px rgb(136, 134, 134);
    border-radius: 10px;
    width: 80vw;
    padding: 30px;
  }

  .ngod1{

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    /* margin-left: 30px; */
    /* gap: 20px; */
    text-align: start;
    flex-wrap: wrap;
    width: 60vw;
    
  }

  .ngod1>div{
    width: 50%;
  }
  .four{
    width: 50%;
  }
  .next{
    width: 50%;
  }

  .des1>div{
    width: 80%;
  }

  .des2>div{
    width: 80%;
  }



  *{
    margin:0;
}
h1{
    text-align: center;
}
#ngoform{
    display:flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#ngoform > div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 400px;
    height: 400px;
}
#ngoforma > input{
    display: inline-block;
    width: 200px;
    height: 30px;
}
#ngoform > #ngoformc{
    justify-content: center;
}
#ngoform_drop{
    width: 200px;
    height: 300px;
}
/* #ngoform_drop_elements{
    /* display: none; */
/*} */
#ngoform_drop_elements > li:hover{
    background-color: gray;
}


