

@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

* {
    /* margin: 0;
    padding: 0; */
    /* background-color: #e1ebf9; */
    font-family: 'Balsamiq Sans', cursive;
}

.container {
    text-align: center;
}

.c1 {
    text-align: center;
    margin-top: 55px;
    /* font-family: 'Andika', sans-serif; */

}

.c2 {
    
    /* border: 2px solid rgb(246, 230, 230); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    margin-top: 84px;
}

.phone {
    font-size-adjust: 0.8;
    font-weight: bold;
    padding-left: 10px;
    width: 340px;
    height: 40px;
}

.pass {
    margin-top: 10px;
    font-weight: bold;
    width: 340px;
    padding-left: 10px;
    height: 40px;
}

.submit {
    margin-top: 20px;
    width: 355px;
    height: 40px;
    border: none;
    font-weight: bolder;
    background-color: #1877f2;
    color: white;
}

.forgot {
    margin-top: 17px;
}

.c2 hr {
    width: 346px;
}

.but1 , .but2 {
    width: 200px;
    height: 40px;
    margin-top: 25px;
    background-color: rgb(20, 192, 20);
    /* font-weight: bold; */
    color: white;
    border: none;
}

.but1{
    margin-right: 15px;
}

.name ,.email,.phone ,.errorf ,.invalid{
    margin-top: 10px;
    font-weight: bold;
    width: 340px;
    padding-left: 10px;
    height: 40px;
}
.invalid{
    color: red;
}

.welcome{
    margin-top: 25px;
}

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sym{
    margin-top: 20px;
}

.m1,.m2,.m3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
    width: 240px;
    height: 180px;
    background-color: bisque;
    border-radius: 25px;
}

a:link{
    text-decoration: none;
    color: brown;
    font-family: 'Balsamiq Sans', cursive;
    font-size: x-large;
}

.omc{
    margin-top: 40px;
    margin-bottom: 30px;
}

.box{
    text-align: center;
    /* background-color: aqua; */
}
