#chatbody{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
#chatarea{
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: auto;
}
#chatarea > div{
    min-width: 200px;
    max-width: 300px;
    padding: 3px 10px;
    background-color:crimson;
    border-radius: 4px;
    border-left:solid 3px black;
    font-size:large;
    font-weight: 500;
    margin-bottom: 5px;
}
#chatarea > .chatarealeft{
    align-self: flex-start;
}
#chatarea > .chatarearight{
    align-self: flex-end;
}